body {
  font-family: Arial;
  text-align: center;
  margin: 0;
}

video {
  width: 100%;
  max-width: 400px;
  border: 2px solid #333;
  border-radius: 10px;
}

.buttons button {
  padding: 10px;
  margin: 5px;
  font-size: 14px;
}

#preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  margin: 5px;
}

.card img {
  width: 100px;
  border: 1px solid #ccc;
}

.card button {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
